---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app portainer
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: portainer
  values:
    controllers:
      portainer:
        containers:
          app:
            image:
              repository: portainer/portainer-ce
              tag: 2.37.0@sha256:b48a491b8d2838c7ee98da6e00e32a04d0347a26466f48b20fb11e484e28f32a
            env:
              TZ: Australia/Melbourne
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9000
                  initialDelaySeconds: 45
                  periodSeconds: 30
                  failureThreshold: 5
              readiness: *probes
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    rbac:
      roles:
        portainer:
          type: ClusterRole
          rules:
            - apiGroups:
                - "*"
              resources:
                - "*"
              verbs:
                - get
                - list
                - watch
            - nonResourceURLs:
                - "*"
              verbs:
                - get
                - list
      bindings:
        portainer-binding:
          type: ClusterRoleBinding
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            identifier: portainer
          subjects:
            - kind: ServiceAccount
              identifier: portainer
              namespace: default
    serviceAccount:
      portainer: {}
    service:
      app:
        ports:
          http:
            port: 9000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.woodleighschool.net"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: *app
