---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adoverseas
spec:
  chartRef:
    kind: OCIRepository
    name: adoverseas
  interval: 1h
  values:
    controllers:
      adoverseas:
        containers:
          app:
            image:
              repository: ghcr.io/woodleighschool/adoverseas
              tag: 2.1.3@sha256:1f575893acfe25bca698d00708f873e3b833d2dbff8c678a812e2800e556cfdd
            env:
              LISTEN_ADDR: ":80"
              LOG_LEVEL: "debug"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 80
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://adoverseas.woodleigh.vic.edu.au/api/v1/status
        hostnames:
          - "{{ .Release.Name }}.woodleigh.vic.edu.au"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: *app
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /app
            subPath: app


