---
machine:
  install:
    diskSelector:
      wwid: naa.5246930400bc0455 # SATADOM-SL 3IE3
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
hardwareAddr: 24:6e:96:60:cd:58
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: link.driver == "ixgbe" && mac(link.permanent_addr) == "24:6e:96:60:cd:58"
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: disk.wwid == 'naa.5002538c000d430d' # MZ7KM960HMJP0D3