---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/alerts
resources:
  - ./grinch/ks.yaml
  - ./home-assistant/ks.yaml
  - ./namespace.yaml
  - ./portainer/ks.yaml
  - ./signin-ui/ks.yaml
  - ./snipe-it/ks.yaml