{{- $file := printf "%s/%s/%s/release.yaml" (requiredEnv "BOOTSTRAP_RENDER_DIR") .Release.Namespace .Release.Name -}}
{{- if isFile $file -}}
{{ readFile $file }}
{{- else -}}
chart: unselected/{{ .Release.Name }}
version: ""
{{- end -}}
