---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grinch
spec:
  chartRef:
    kind: OCIRepository
    name: grinch
  interval: 1h
  values:
    controllers:
      grinch:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/woodleighschool/grinch
              tag: 1.0.5-dev@sha256:8ffd57c47cc3fe32f08d97de52910e68aefc61820ccb01196926e8b8b3342809
            env:
              LOG_LEVEL: debug
              SITE_BASE_URL: https://grinch.woodleighschool.net
              SYNC_CRON: "@every 5m"
            envFrom:
              - secretRef:
                  name: grinch-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.woodleighschool.net"
        parentRefs:
          - name: envoy-internal
            namespace: network
