---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grinch
spec:
  chartRef:
    kind: OCIRepository
    name: grinch
  interval: 1h
  values:
    controllers:
      grinch:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/woodleighschool/grinch
              tag: 2.0.0@sha256:379d0173fd37bdfec89434b1e01548a9ab9c3b358ed4c9cc26fea209c74f1dba
            env:
              LOG_LEVEL: debug
              SITE_BASE_URL: https://grinch.woodleighschool.net
              SYNC_CRON: "@every 5m"
            envFrom:
              - secretRef:
                  name: grinch-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        ports:
          http:
            port: 8080
          santa:
            port: 8081
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.woodleighschool.net"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 8080
      santa:
        hostnames:
          - "santa.woodleigh.vic.edu.au"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 8081
